/* Configuring the Jambotron */

.col-md-12.jumbotron.text-center{
    background-image: url("../../images/SSteel_background.jpg");
    border-radius: 5px;
    height: 200px;
    display: space-around;
    padding: 5px 5px;
    margin: 5px;
}


.col-md-12{
    width: 100%;
}

.projectlogo {
    padding: 5px;
    position: box;
    bottom: 5px;
    left: 150px;
    width: 60px;    
}

.h1 {    
    font-size:60px;
    font-weight: bolder;
    text-shadow: 3px 10px #221f1f;
}

.h3.panel-title {
    font-size: 18 px;
}

.p{    
    font-size:28px;    
    font-weight: bold;
    text-shadow: 3px 8px black;
}




